
/* Definimos una fuente de letra que descargamos */
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
/* Definimos unas variables que serán nuestra paleta de colores */
:root{
    --colorBase: black;
    
    --light-sky-blue: #a4d1fdbf;
    --cornflower-blue: #6498f4ff;
    --antiflash-white: #f0f0f0ff;
    --uranian-blue: #b1d6fdff;
    --uranian-blue-2: #c3e8febf;

}
/* Esto es para que los enlaces locales desplacen la pantalla de forma progresiva */
html{
    scroll-behavior: smooth;
}
/* Imagen de fondo y fuente de letra general */
body{
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: roboto;
}
/* El menú de navegación del comienzo con flex para centrar la lista y sticky para que se quede arriba  */
nav{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colorBase);
    position: sticky;
    top: 0;
    
    height: 8vh;
    
    
}
/*flex para espaciar los enlaces  */
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
/* enlaces blancos que cambian de color con el hover */
nav ul a{
    text-decoration: none;  
    color: var(--antiflash-white);

    &:hover{
        color: var(--cornflower-blue);
    }
    
}
/* flex para poner el texto al lado de la imagen */
header{
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
/* imagen de header */
header img {
    width: 10%;
    height: 100%;
    padding: 1rem;
    border-radius: 100%;
}
/* relleno para el texto */
.headerRight{
    padding: 1rem;
}
/* Esto es para que los enlaces locales tengan en cuenta la barra de navegación de arriba y se correspondan
correctamente con el inicio de la sección correspondiente */
#inicio,#sobreMi,#proyectos,#idiomas,#experiencia,#contacto{
    scroll-margin-top: 8vh;
}
/*Relleno del main  */
main{
    padding: 1rem;
}
/* Centramos los títulos */
main h2, main h3{
    text-align: center;
}
/* Definimos el contenedor del grid */
.sobreMiContainer{
    
    display: grid;
    grid:repeat(3,1fr)/repeat(4,1fr);
    gap: 1rem;
    margin: 3rem;
    
}
/* Definimos el estilo de los contenedores del grid*/
.sobreMiContainer > article{
    border-radius: 1rem;
    background-color: var(--uranian-blue-2);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    padding: 1.5rem;
    border: 4px solid black;
}
/* Las siguientes reglas son para definir las secciones del grid */
.sobreMiContainer article:nth-child(1){
    grid-column: 1/span 2;
    grid-row: 1;
}
.sobreMiContainer article:nth-child(2){

    grid-column: 3/span 2;
    grid-row: 1;
}
.sobreMiContainer article:nth-child(3){

    grid-column: 1/span 4;
    grid-row: 2;
}
/* Aquí centramos la imagen */
.sobreMiContainer article:nth-child(4){

    grid-column: 1/span 1;
    grid-row: 3; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Damos tamaño a la imagen */
.foto img{
    height: auto;
    width: 100%;
    border-radius: 1rem;
}
.sobreMiContainer article:nth-child(5){

    grid-column: 2/span 2;
    grid-row: 3;
   
}
.sobreMiContainer article:nth-child(6){

    grid-column: 4/span 1;
    grid-row: 3;
    /* height: 50%; */
}
/* Centramos el texto de los títulos */
#proyectos h2,#proyectos h3{
    text-align: center;
}
/* Definimos el contenedor flex de los proyectos */
.contenedorProyectos{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    
}
/* Definimos cada uno de los proyectos tambien con flex */
.contenedorProyectos article{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-sky-blue);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    border: 4px solid black;
    
}
/* Le damos un tamaño a las imágenes de los proyectos */
.imgProyectos{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
/* Flex para centrar la tabla */
#idiomas {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Le dsamos estilo a la tabla*/
#idiomas table{
    margin: 1rem;
    padding: 1rem;
    border-collapse: collapse;
    border-radius: 1rem;
    flex-basis: 50%;
    text-align: center;
    background-color: white;

}
/* Le damos estilo al título de la tabla */
#idiomas caption{
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
}
/* Relleno a los elementos de la tabla */
#idiomas td, #idiomas th{
    padding: 1rem;
}
/* Colores a los encabezados de la tabla */
th{
    color: white;
    background-color: black;
}
/* Las dos siguientes reglas son para redondear el borde */
.thiz{
    border-top-left-radius: 1rem;
}
.thder{
    border-top-right-radius: 1rem;
}
/* Aquí definimos el contenedor flex de la sección de experiencias*/
#experiencia{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
/* Aquí definimos cada uno de los contenedores que conforman la sección*/
#experiencia article{
    flex: 1 1 auto;
    width: 80%;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--uranian-blue-2);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
    border: 4px solid black;
}
/* Aquí usamos flex para centrar el formulario */
#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
/* Aquí usamos flex para posicionar los elementos del formulario en columna y les damos estilo */
form{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--antiflash-white);
    border-radius: 1rem;
    padding: 1rem 5rem;
    margin: 1rem;
}
/* Le damos relleno a los elementos del folmulario */
form div{
    padding: 1rem;
    flex: 1;
}
/* Le damos estilo al botón */
#contacto input[type="submit"]{
    background-color: var(--cornflower-blue);
    color: white;
    border: 1px solid black;
    width: 100%;
    border-radius: 0.5rem;
    /* Cambiamos el color al hacer hover */
    &:hover{
        background-color: var(--colorBase);
    }
}
/*Flex al footer para centrar los elementos*/
footer{
    background-color: var(--colorBase);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8vh;
}
/* Esto es para que los contenedores correspondientes aumenten un poco el tamaño al hacer hover */
.scale{
    transition: 0.2s linear;
    &:hover{
        scale: 1.1;
    }
}
/* Definimos el tamaño del logo */
.git{
    width: 2rem;
    height: 2rem;
}
/* Esto es para pantallas pequeñas de menos de 600px que en la práctica son movil */
@media (width <= 600px) {

    /* Para el movil le quitamos el sticky porque ocupa mucho espacio de pantalla  */
    nav{
        height: auto;
        position: static;
    }
    /* Ponemos los enlaces en vertical para que se vean mejor en la pantalla y los enlaces no sean muy pequeños y dificiles de presionar */
    nav ul {
        padding-left: 0;
        flex-direction: column;
        font-size: 18px;
        padding: 1rem;
    }y
    /* Ponemos la disposición del header en columna para darle espacio a la foto y que se vea mejor  */
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Hacemos la foto más grande */
    header img{
        width: 100%;
        height: auto;
    }
    /* El grid lo ponemos en una sola columna para adaptarse mejor a la pantalla y quitamos la imagen porque no aporta mucho */
    .sobreMiContainer{
        grid-template-columns: 1fr;
        padding: 1rem;
        margin: 0.5rem;
    }
    /* Las siguientes reglas son para poner los diferentes article uno en cada fila y quitar la imagen */
    .sobreMiContainer article:nth-child(1){
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    .sobreMiContainer article:nth-child(2){
        grid-column: 1/span 1;
        grid-row: 2/span 1;

    }.sobreMiContainer article:nth-child(3){
        grid-column: 1/span 1;
        grid-row: 3/span 1;

    }.sobreMiContainer article:nth-child(4){
        display: none;

    }.sobreMiContainer article:nth-child(5){
        grid-column: 1/span 1;
        grid-row: 4/span 1;

    }.sobreMiContainer article:nth-child(6){
        grid-column: 1/span 1;
        grid-row: 5/span 1;

    }
}